.bg-create-form {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 2px solid white;
    border-radius: 20px;
  }
  
  .fillbox {
    height: 40px;
    width: 90%;
    border-radius: 7px;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    font-size: 20px;
    font-weight: 600;
    color: rgba(80, 145, 206, 0.925);
  }
  
  .button-create-margin {
    margin: 3rem 0rem 3rem 0rem !important;
  }
  
  .button-submit-create {
    background: #00008b;
    font-weight: bold;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    display: block;
    margin: auto;
    width: 80%;
  }
  
  .button-submit-create:hover {
    background: linear-gradient(35deg, #ffffcc, #ccccff);
    border: 2px solid pink;
    color: black;
    width: 81%;
  }
  