@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.bg-grey {
  background-color: rgba(100, 102, 102, 0.075) !important;
}

.circle-box {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(202, 191, 191);
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

.bg-tint {
  background-color: rgba(83, 147, 172, 0.164) !important;
}

@media (min-width: 1000px) {
  body {
    overflow: auto !important;
  }

  .offcanvas-backdrop.show {
    display: none !important;
  }

  .start-40 {
    left: 40% !important;
  }

  main {
    margin-left: var(--offcanvas-width);
    margin-top: var(--topNavbarHeight);
  }

  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbarHeight) !important;
    height: calc(100%- var(--topNavbarHeight));
  }
}

@media (max-width: 1000px) {
  main {
    margin-top: var(--topNavbarHeight);
  }

  .start-40 {
    left: 30% !important;
  }
}
