.friendslist-wrapper {
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.friendslist-row {
  display: flex;
  background: lightslategray;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.friendslist-poto {
  background-color: #dc3545;
  background: url(https://assets.kompasiana.com/items/album/2021/03/24/blank-profile-picture-973460-1280-605aadc08ede4874e1153a12.png?t=o&v=770);
  height: 100px;
  width: 100px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.friendslist-name,
.friendslist-score,
.friendslist-email {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /* max-width: 200px; */
}

.friendslist-name {
  font-family: "bebas neue", sans-serif;
  letter-spacing: 2.5px;
}

.friendslist-score {
  font-size: 0.9rem;
}

.friendslist-email {
  font-size: 0.9rem;
}
