.width-heigth-100 {
    margin: 10px;
    aspect-ratio: 1/1;
    width: 100px;
    font-size: 4rem;
}

.translucent-background {
    border-radius: 15%;
    border: 2px dashed white;
    background-color: rgba(255, 255, 255, 0.37)!important;
    aspect-ratio: 1/1;
    max-width: 500px;
}