.form-hangman-spacing{
    letter-spacing: 5px;
}

.hangman-border {
    border: 2px solid rgb(255, 255, 255);
    max-width: 454px; 
}

.hangman-img {
    max-width: 450px;
}

.invisible-hangman {
    display:none;
}