.main {
  /* background-color: white; */
  color: yellow;
  font-family: "Bebas Neue", cursive;
}

a:hover {
  text-decoration: none;
}

.section-1,
.section-2,
.section-33 {
  min-height: 100vh;
}

.hero-container {
  background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjT5UMJU8Tkpv6A9FnGYTJ9lFAdHVE16oKMhLvDYsLH8avBySy8TV_arrmgUpGg88xTdmoShc9l7qqfsAa8LROiHmHajbqRpxqjohl-do6yXtu-cCRga5JQBGBtFCBxyWbfdoxFBs09gaTvJeJjohib-wyuYXRKqzfReiczXkcIICFBQ7kKfSCSP5oW/s1600/rps8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
  padding: 50px;
  height: calc(90vh - 98px);
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
}

.hero-container::after,
.hero-container-2::after,
.hero-container-3::after,
.wrapper::after {
  z-index: 1;
}

.hero-container > *,
.hero-container-2 > *,
.hero-container-3 > *,
.wrapper {
  z-index: 100;
}

.section-1_left {
  letter-spacing: 3px;
}

.section-1_left h2 {
  font-size: 5rem;
  color: #e2a600;
}

.wrapper h2 {
  font-size: 2rem;
  color: #e2a600;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
}

.wrapper table {
  color: white;
  font-family: sans-serif;
}

.box-wrapper {
  /* height: 100px; */
  background-color: rgb(57 63 68);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 3px #ececec;
}

.box-content {
  margin: 10px;
}

.photo {
  width: 50px;
  height: 50px;
  background-image: url(https://st.depositphotos.com/1008939/2240/i/600/depositphotos_22408839-stock-photo-serious.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 3px #ffd864;
}

.name {
  color: #ffc82b;
  /* font-weight: bold; */
  letter-spacing: 1px;
}

.job {
  color: gainsboro;
  font-size: 12px;
}

.testimony {
  font-size: 14px;
  margin-top: 5px;
  font-style: italic;
}

.wrapper {
  height: 100%;
  border-radius: 0.375rem;
  padding: 0.7rem;
}

.wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.wrapper::after {
  z-index: 1;
}

.wrapper > * {
  z-index: 100;
}

footer {
  height: 50px;
  display: flex;
  background: white;
}

footer > .footer {
  font-family: sans-serif;
  font-size: 0.8rem;
}

footer > .footer > a {
  color: black;
}
