.table-leaderboard {
  padding: 10px;
}

.main-row-leaderboard {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.row-leaderboard {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.ranking-wrapper,
.score-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ranking {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}
