.number-background {
    border-radius: 15%;
    border: 2px solid white;
    background-color: rgba(195, 252, 230, 0.342)!important;
    box-shadow: 7px 10px  rgba(131, 141, 236, 0.363);
    text-shadow: 1px 1px rgb(241, 203, 247);
    aspect-ratio: 1/1;
    max-width: 500px;
}

.input-number-size {
    aspect-ratio: 1/1;
    max-width : 75px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:rgb(16, 12, 245);
    word-wrap:break-word;
    border-radius: 15%;
    background-color: rgb(185, 192, 148);
}

.form-number-btn {
    font-family: Poppins-Medium;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1em;
    background-color: rgb(236, 221, 82);
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    aspect-ratio: 1/1;
    width: 15%;
  }

  .form-number-btn:hover {
    color: rgba(241, 220, 220, 0.705);
    background-color:rgb(80, 240, 88);
    border: 1px solid white; 
  }

  .footer-number {
    padding-top: 5px;
    padding-bottom: 20px;
  }